.mainHead{
    background-color: black;
}
#header{
    position: absolute;
    top: 60px;
}
.header{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.41);
    /* background-color: rgba(0,0,0, 0); */
    position: absolute;
    top: 20px;
}
.headBg{
    background-image: url(../asset/bg_head.jpg);
    filter: blur(15px);
    background-color: black;
    padding: 15px;
    z-index: 1;
    height: 190px;
    background-position: center;
    background-repeat: no-repeat;
    background-size:  cover;
    
    /* position: absolute; */
}
.logoToko{
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
}
.logo{
    background-image: url(../asset/logo_white.png);

    width: 600px;
    height: 150px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 3;
}
.navBar{
    padding-left: 5%;
    padding-right: 5%;
    z-index: 5;
}
.marketing-container{
    margin-top: 30px;
}
.katalog{
    /* display: flex;
    flex-wrap: wrap;
    justify-content: space-between; */
}
.kontainerUtama{
    padding: 3% 10%;
}
.sortBy{
    margin-bottom: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.displayTeksSort{
    /* width: 83%; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.displayedTeks{
    font-weight: bolder;
    font-size: 2em;
}
.selectSort{
    /* width: 17%; */
}
.konten{
    /* display: flex; */
    
}
.nav-item{
    border-bottom: 1px solid #eaeaea;
    width: 200px;
}
.nav-link{
    color: black;
}
.navKiri{
    /* margin-right: 2%; */
}
.card{
    margin-bottom: 3vh;
}
.fotoProd{
   width: 100%;
   /* height: 100%; */
}
.kontainerDetail{
    padding: 3% 15%;
}
.detailProd{
    display: flex;
    justify-content: space-between;

}
.infoProduk{
    display: flex;
    flex-direction: column;
}
.namaProduk{
    font-weight: 500;
    font-size: 2em;
}
.hargaProduk{
    font-size: 1.5em;
    font-weight: bolder;
}
.tipeProduk{
    font-size: 1.3em;
    font-weight: 600;
    margin-bottom: 5%;
}
.descProduk{
    font-size: 1.2em;
    font-weight: 400;
}
.color-inherit {
    color: inherit;
}
.list-style-none {
    list-style: none;
}

.burgerMode{
    display: none;
}
@media screen and (max-width:600px) {
    .burgerMode {
        display: flex;
    }
    .iconMode{
        display: none;
    }
}
.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidebar a:hover {
    color: #f1f1f1;
  }
  
  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  #main {
    transition: margin-left .5s;
    padding: 16px;
  }
  @media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  }
  .button {
    border-radius: 4px;
    background: none;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 1.2em;
    padding: 3%;
    width: 75%;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }
  
  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 25px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }



.xyzUnusedForTestingOnlyClassPlsDontTouch{
    background-image: url(../asset/formal_but_lux_amogus.png);
}